<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El legajo ya existe</title>
</head>
<body>
    
    <h1>Ups! El numero de legajo ingresado ya existe en la Base de Datos</h1>

    <h3>Comprobá si ingresaste correctamente el número. </h3>
    
    <form action="/Formulario_Personal">
        <button type="submit">Volver a intentarlo</button>
        </form>



</body>
</html>