<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestor de Avisos - Carga de Aviso</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css')}}">
</head>
<body>
    <header>
    <h1>Registro de Avisos</h1>
    </header>
    <section class="datos_persona">
        <h3>Legajo: {{ persona[0]  }}</h3>
        <h3>Nombre: {{ persona[1]  }}</h3>
        <h3>Sector: {{ persona[2]  }}</h3>
        <br>
    </section>

    <section class="carga">
       
            <form action="/aviso_cargado_exitosamente" method="post">
                <div class="field3">
                    <label for="">Fecha evento</label>
                    <input type="date" name="dia_evento" required>
                </div>    
                <div class="field2">
                    <label for="titulo_evento">Titulo evento</label>
                    <input type="text" name="titulo_evento" maxlength="50" required >
                </div>
                <div class="textbox">
                    <label for="detalle_evento">Detalle del evento</label>
                    <textarea name="detalle_evento"></textarea>
                </div>
                <div class="boton">
                    <input type="submit">
                </div>

            </form>
        
    </section>
    
</body>
</html>