<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestor de Avisos - Carga de Aviso</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css')}}">
</head>
<body>
    <header>
    <h1>Registro de Avisos</h1>
    </header>
    <section class="busqueda">
        <form action="/Formulario_Carga_Aviso" method="post">
            <div class="field1">
                <input type="number" name="legajo_form" required placeholder="Ingrese Legajo" class="legajo">
                <input type="submit" name="carga_datos_legajo" value="Buscar" >
            </div>
        </form>
    </section>
    
    
</body>
</html>