<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestor de Avisos - Carga de Aviso</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
    <header>
    <h1>Registro de Avisos</h1>
    </header>
    <section class="busqueda">
        <form action="">
            <div class="field1">
                <input type="number" name="legajo_form" required placeholder="Ingrese Legajo" class="legajo">
                <input type="submit" name="carga_datos_legajo" value="Buscar" >
                <input type="text" name="nombre" disabled class="dato">
                <input type="text" name="ubicacion" disabled class="dato">
            </div>
        </form>
    </section>
    <section class="carga">
       
            <form action="">
                <div class="field3">
                    <label for="">Fecha evento</label>
                    <input type="date" name="dia_evento" required>
                </div>    
                <div class="field2">
                    <label for="titulo_evento">Titulo evento</label>
                    <input type="text" name="titulo_evento" maxlength="50" required >
                </div>
                <div class="textbox">
                    <label for="detalle_evento">Detalle del evento</label>
                    <textarea name="detalle_evento"></textarea>
                </div>
                <div class="boton">
                    <input type="submit">
                </div>

            </form>
        
    </section>
    
</body>
</html>