<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LILIANA - RRHH</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css')}}">
    <!-- <link rel="stylesheet" href="estilo.css">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="estilo.css"> -->

</head>
<body>
    <header>
        <h1>Gestor de Avisos de RRHH</h1>
    </header>

<section>
    <figure>
        <a href="{{ url_for('solicitudes') }}"><img id="fondo1"></a>
        <figcaption>Cargar aviso</figcaption>
    
    </figure>
    <figure>
        <a href="{{ url_for('colectivos') }}"><img id="fondo2"></a>
        <figcaption>Tardanza Colectivo</figcaption>
    </figure>
    <figure>
        <a href="{{ url_for('formulario_reporte') }}"><img id="fondo3"></a>
        <figcaption>Reporte de avisos</figcaption>
    </figure>
    <figure>
        <a href="{{ url_for('formulario_personal') }}"><img id="fondo4"></a>
        <figcaption>Nómina</figcaption>
    </figure>

</section>

<footer><br><br><br><br><p>Gestor de Avisos - Bruno Bracco 03/2022</p></footer>

</body>
</html>