<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<h1>ACA IRIA EL REPORTE GUASO</h1>

<div>{% for ev in eventos %}</div>

<div>
    <ul>
        {{ev[4]}}
        {{ev[5]}}
    </ul>
</div>

<div>
{% endfor %}
</div>

<form action="/">
    <button type="submit">Volver al inicio</button>
    </form>

</body>
</html>